<div class="container">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col m12 center-align">
            <h5 class="red-text">The page that you are looking for does not exist!
                <i class="mdi mdi-emoticon-sad small"></i>
            </h5> 
            <img src="assets/images/404.jpg" class="responsive-img" alt="404 image">
            <br>
            <button class="btn blue lighten-2" (click)="goBack()">Go back</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>