<div class="container">
  <div class="row">
    <div class="col m6 offset-m3 s10 offset-s1">

      <div class="row">
          <h3 class="blue-text text-lighten-1">Reset Password</h3>
        </div>
        
        <form #forgotPassword="ngForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="input-field">
              <input type="text" class="form-control" placeholder="Email" [(ngModel)]="login" required name="login">
            </div>
          </div>
  
          <div class="row">
            <button class="blue lighten-2 btn waves-effect waves-light" [disabled]="!forgotPassword.form.valid">
              Reset Password
              <i class="mdi mdi-send right"></i>
            </button>
          </div>
  
        </form>

    </div>
  </div>
</div>