<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="row">
        <div class="col m12 center-align">
          <h5 class="green-text">Answer submited with success!
          </h5> 
          
          <p>Thank you to participate of our questionary!</p>

          <i class="mdi mdi-emoticon large green-text"></i>
          <br>
          <button class="btn blue lighten-2" (click)="submitAnotherAnswer()">Submit another answer</button>
        </div>
      </div>
    </div>
  </div>
  
</div>