<div class="card">
  <div class="card-content">
    
    <form #q="ngForm" (ngSubmit)="onSubmit(q)">

      <div class="question">
        <div class="row">
          
          <div class="col m12 input-field">
            <textarea name="title" class="materialize-textarea" placeholder="Your Question" [(ngModel)]="question.title" #title="ngModel" required></textarea>
            <label for="title" [hidden]="title.valid || title.pristine" class="red-text text-lighten-2">Required</label>
          </div>

        </div>

        <div class="row valign-wrapper">

          <mz-select-container class="col m4">
            <select mz-select name="kind" [(ngModel)]="question.kind" #kind="ngModel" [placeholder]="'Kind'" required>
              <option value="short_text">Short Text</option>
              <option value="long_text">Long Text</option>
              <option value="integer">Integer</option>
              <option value="boolean">Boolean</option>
            </select>
          </mz-select-container>

          <div class="col m3 offset-m1 center-align">
            <div class="switch">
              <span class="required_label">Required</span>
              <label>
                <input type="checkbox" id="switch-id" [(ngModel)]="question.required" name="required">
                <span class="lever"></span>
              </label>
            </div>
          </div>

          <div class="col m1" *ngIf="question.id !== undefined">
            <a href="#" class="grey-text" (click)="deleteQuestion()">
              <i class="mdi mdi-delete small remove_icon"></i>
            </a>
          </div>


          <div class="col m3 right">
            <button [disabled]="!q.valid" class="btn blue lighten-2" *ngIf="question.id == undefined">Create</button>
            <button [disabled]="!q.valid" class="btn blue lighten-2" *ngIf="question.id !== undefined">Update</button>
          </div>
        </div>

      </div>

    </form>

  </div>
</div>