/* You can add global styles to this file, and also import other style files */
.input-field label { 
  color: #64b5f6; 
} 

.input-field input[type=text]:focus { 
  border-bottom: 1px solid #64b5f6 !important; 
  box-shadow: 0 1px 0 0 #64b5f6 !important; 
}

.input-field input[type=password]:focus + label 
{ 
  color: #64b5f6; 
} 

.input-field input[type=password]:focus { 
  border-bottom: 1px solid #64b5f6 !important; 
  box-shadow: 0 1px 0 0 #64b5f6 !important; 
}
