/* You can add global styles to this file, and also import other style files */
.input-field label { 
  color: #64b5f6; 
} 

.input-field input[type=text]:focus { 
  border-bottom: 1px solid #64b5f6 !important; 
  box-shadow: 0 1px 0 0 #64b5f6 !important; 
}

.input-field input[type=password]:focus + label 
{ 
  color: #64b5f6; 
} 

.input-field input[type=password]:focus { 
  border-bottom: 1px solid #64b5f6 !important; 
  box-shadow: 0 1px 0 0 #64b5f6 !important; 
}

.input-field .materialize-textarea[_ngcontent-c3]:focus { 
  border-bottom: 1px solid #64b5f6 !important; 
  box-shadow: 0 1px 0 0 #64b5f6 !important; 
}

.input-field .color-picker[_ngcontent-c3]:focus { 
  border-bottom: 1px solid #64b5f6 !important; 
  box-shadow: 0 1px 0 0 #64b5f6 !important; 
}

.switch label input[type=checkbox]:checked+.lever {
  background-color: #64b5f6 !important;
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #64b5f6 !important;
}
