/* You can add global styles to this file, and also import other style files */
.input-field label { 
  color: #64b5f6; 
} 

.input-field input[type=text]:focus { 
  border-bottom: 1px solid #64b5f6 !important; 
  box-shadow: 0 1px 0 0 #64b5f6 !important; 
}

.input-field input[type=number]:focus { 
  border-bottom: 1px solid #64b5f6 !important; 
  box-shadow: 0 1px 0 0 #64b5f6 !important; 
}

.input-field input[type=password]:focus + label 
{ 
  color: #64b5f6; 
} 

.input-field input[type=password]:focus { 
  border-bottom: 1px solid #64b5f6 !important; 
  box-shadow: 0 1px 0 0 #64b5f6 !important; 
}

.input-field .materialize-textarea:focus { 
  border-bottom: 1px solid #64b5f6 !important; 
  box-shadow: 0 1px 0 0 #64b5f6 !important; 
}

.input-field .color-picker:focus { 
  border-bottom: 1px solid #64b5f6 !important; 
  box-shadow: 0 1px 0 0 #64b5f6 !important; 
}

.switch label input[type=checkbox]:checked+.lever {
  background-color: #64b5f6 !important;
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #64b5f6 !important;
}

ul.dropdown-content.select-dropdown li span {
  color: #64b5f6; /* no need for !important :) */
}

ul.dropdown-content.select-dropdown li.disabled span {
  color: #888; /* no need for !important :) */
}

[type="radio"]:checked + label::after, [type="radio"].with-gap:checked + label::after {
  background-color: #64b5f6 !important;
}
[type="radio"]:checked + label::after, [type="radio"].with-gap:checked + label::before, [type="radio"].with-gap:checked + label::after {
  border: 2px solid #64b5f6 !important;
}

/* Dragula */
/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}