/* You can add global styles to this file, and also import other style files */
.input-field label { 
  color: #64b5f6; 
} 

.input-field input[type=text]:focus { 
  border-bottom: 1px solid #64b5f6 !important; 
  box-shadow: 0 1px 0 0 #64b5f6 !important; 
}

.input-field input[type=number]:focus { 
  border-bottom: 1px solid #64b5f6 !important; 
  box-shadow: 0 1px 0 0 #64b5f6 !important; 
}

.input-field input[type=password]:focus + label 
{ 
  color: #64b5f6; 
} 

.input-field input[type=password]:focus { 
  border-bottom: 1px solid #64b5f6 !important; 
  box-shadow: 0 1px 0 0 #64b5f6 !important; 
}

.input-field .materialize-textarea:focus { 
  border-bottom: 1px solid #64b5f6 !important; 
  box-shadow: 0 1px 0 0 #64b5f6 !important; 
}

.input-field .color-picker:focus { 
  border-bottom: 1px solid #64b5f6 !important; 
  box-shadow: 0 1px 0 0 #64b5f6 !important; 
}

.switch label input[type=checkbox]:checked+.lever {
  background-color: #64b5f6 !important;
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #64b5f6 !important;
}

ul.dropdown-content.select-dropdown li span {
  color: #64b5f6; /* no need for !important :) */
}

ul.dropdown-content.select-dropdown li.disabled span {
  color: #888; /* no need for !important :) */
}

[type="radio"]:checked + label::after, [type="radio"].with-gap:checked + label::after {
  background-color: #64b5f6 !important;
}
[type="radio"]:checked + label::after, [type="radio"].with-gap:checked + label::before, [type="radio"].with-gap:checked + label::after {
  border: 2px solid #64b5f6 !important;
}

.red:checked + label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #64b5f6 !important; /* You need to change the colour here */
  border-bottom: 2px solid #64b5f6 !important; /* And here */
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%; 
}
